<div class="whole-container">
    <div class="left-side">
        <div class="image">
            <img src="../assets/Group 1.svg" alt="">
        </div>
    </div>
    <div class="right-side">
        <div class="contents">
            <div class="header">
                <h3>We just sent an email <br> for you </h3>
                <p>Click the secure link we sent you to reset your <br> password. If you didn't receive an email check <br> your Spam folder.</p>
            </div>
            <div class="footer">
                <p> <a class="forgot-link" href="login">Back to Login</a> </p>
              </div>
        </div>
    </div>
</div>