<div class="whole-container">
    <div class="left-side">
        <div class="image">
            <img src="../assets/Group 1.svg" alt="">
        </div>
    </div>
    <div class="right-side">
        <div class="contents">
            <div class="header">
                <h3>Hello User ! <br> Please activate this account.</h3>
                <p>We have sent an activation email. <br> Please check your mail for a link to verify your account</p>
            </div>
            
        </div>
    </div>
</div>