<div class="whole-container">
    <div class="left-side">
      <div class="image">
        <img src="../assets/Group 1.svg" alt="">
      </div>
    </div>
    <div class="right-side">
      <div class="contents">
        <div class="header">
          <h3>Sign In</h3>
        </div>
        <div class="form">
          <form [formGroup]="reactiveForm">
            <div class="form-group">
              <label for="email">Email</label>
              <div>
                <input type="text" id="email" placeholder="email" formControlName="email">
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div>
                <input type="text" id="password" placeholder="password" formControlName="password">
              </div>
            </div>
            <div class="form-group">
                <a class="forgot-link" href="forgotPassword"> <span> Forgot Password ?</span></a>
              </div>
        
            <div class="button">
              <button type="button" class="btn" (click)="onSubmit()"> <span>Login</span> </button>
            </div>   
            <div class="footer">
              <p>New user ? Go to <a href="createUser">Register</a> </p>
            </div>
          </form>
  
          </div>
        </div>
      </div>
    </div>