
<div class="whole-container">
    <div class="left-side">
        <div class="image">
            <img src="../assets/Group 1.svg" alt="">
        </div>
    </div>
    <div class="right-side" *ngIf="visible">
        <div class="contents">
            <div class="header">
                <h3>Account Verified Successfully</h3>
                <button type="button" class="btn" (click)="onSubmit()"> <span>Continue</span> </button>
               
            </div>
            
        </div>
    </div>
</div>